@use '../base/variables' as v;
@use '../base/mixins' as m;



.navmenu{

    h2{
        font-size: 2rem;
        font-weight: v.$light;
        margin: 2rem;
        margin-bottom: 5rem;

        span{
            font-weight: v.$semiBold;
        }
    }

    h3{
        margin-left: 2rem;
        font-size: 2rem;
        font-weight: v.$semiBold;
        color: v.$grey;
        opacity: 0.5;
    }



    margin: 2rem;
    margin-top: 7rem;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        
    }



    .navmenu__link{
        color: v.$white;
        text-decoration: none;
        font-size: 2rem;
        font-weight: v.$semiBold;
        transition: all 0.1s ease-in-out; 
        display: flex;
        align-items: center;
        margin: 1.5rem 2rem;
        display: flex;
        align-items: center;
        p{
            font-size: 1.7rem;
            margin-left: 0.5rem;
        }
        

        .navmenu__icon{
            margin-right: 0.5rem;
        }

        &:hover{
            color: v.$secundary;

        }

    }

    .navmenu__link--active{

        p{
            color: v.$secundary;
        }
        color: v.$secundary;
    }
}

.navmenu__tittle-page{
    font-size: 3rem;
    font-weight: v.$bold;
    margin: 2rem;
    margin-bottom: 5rem;

    b{
        font-weight: v.$bold;
        color: v.$secundary;
    }
}