@use '../base/variables' as v;
@use '../base/variables' as m;

.app__container{

    height: 100vh;
}

.navmenu__container{
    position: fixed;
    top: 0;
    left: 0;

    width: 27rem;
    height: 100vh;

    background-color: v.$primary;
    color: v.$white;
}

.page__container{

    margin-left: 25rem;
    padding: 5rem;
    width: calc(100% - 25rem);

}